.loginForm {
  display: flex;
  justify-content:  center;
  align-items:center;
  height: 100vh
  
}

.loginForm input{
  width: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fButton {
  margin-top: 10;
  margin-right: 10px;
}

.fImage {
  display: block;
  margin: 0 auto; 
}
.errorCard {
  background-color: rgba(255, 0, 0, 0.603);
  border-radius: 5px;
  width: 180px;
  padding: 5px;
  

}
.errorMessage {
  color: rgb(255, 255, 255);
  height: 40px;
  width: 180px;
  font-size: 14px;
  margin-top: 15px;
  text-wrap: nowrap;

}