.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.timeDisplay {
  padding-left: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #dedede;
  font-weight: bold;
}