.button {
    font-size: 13pt;
    align-items: center;

    background: none;
    border: none;
    padding: 1px;
    cursor: pointer;
}

.button:hover {
    color: #91c3e3;
}
.addbutton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.addbutton:hover {
    color: #91c3e3;
}
.content {
    width: 100%;
    border: 2px solid gray;
    font-size: 18px;
    text-align: left;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
}
