#root {
    position: fixed;
    height: 100%;
    width: 20%;
    min-width: 250px;
    max-width: 350px;
    background-color: #333333;
    padding-left: 20px;
    padding-right: 20px;
}

#logo {
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo h1 {
    margin-left: 15px;
}

.navitem {
    width: 100%;
    height: 2.5em;
}