

.centerContent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:  center;
  align-items:center;
}

.centerContent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:  center;
  align-items:center;
}

.loginForm {
  background-color: rgba(74, 75, 77, 0.534);
  width: fit-content;
  background-color: rgba(74, 75, 77, 0.534);
  width: fit-content;
  display: flex;
  justify-content:  center;
  align-items:center;
  padding: 20px;
  border-radius: 14px;
}

.loginForm input{
  width: 200px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border:whitesmoke thin solid;
}

.fBox {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  border-radius: 3px;
}

.fBox {
  display: flex;
  justify-content: space-evenly;
}

.fButton {
  margin-top: 10;
  width: 60px;
  width: 60px;
  width: 60px;
}

.fImage {
  display: block;
  margin: 0 auto; 
}
.errorCard {
  height: 30px;

}
.errorMessage {
  color: rgb(255, 0, 0);
  font-size: 16px;
  height: 40px;
  width: 200px;
  margin-top: 20px;
  margin-top: 20px;
  text-align: center;
  text-wrap: nowrap;
}
